* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #f6e2ce; */
}


body {
    line-height: 1.1;
    font-size: 1rem;
    color: #030005;
    background-color: #ffffff;
    font-family: sans-serif;
   
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: #030005;
    
    
}

.header-fixed {
    width: 100%;
    background-color: #f6e2ce;
    color: #030005;
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
    height: 6rem;
    z-index: 1;
    

    position: fixed;
}



ol {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-content: center;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: #030005;
}


a:active {
    color: #d07009;
}



.btn1 {
    background-color: #d07009;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
    font-weight: 800;
}

main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.whole {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section {
    padding-bottom: 4rem;
}

p {
    padding: 1rem 0;
    font-size: 1.2rem;
}

.homepage section {
    background-color: #f6e2ce;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pg1 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    padding-top: 6rem;
    justify-content: center;
    align-items: center;
   
}





h1 {
    font-size: 3.6rem;
}

.combined {
    width: 450px;
    height: 450px;
}

.btn2,
.btn3 {
     border: none;
     border-radius: 5px;
     width: 10rem;
     height: 2.3rem;
     font-weight: 600;
     font-size: 1rem;

}

.btn2 {
    background-color: #d07009;
    color: aliceblue;
}
.btn3 {
    background-color: aliceblue;
    color: #030005;
}


mark {
    color: #d07009;
    background-color: transparent;
}

.customers {
    width: 40px;
    height: 40px;
    border: 5px solid white;
    border-radius: 2rem;
    margin-right: -20px;
}

.bind {
    margin-right: 10px;
}

.logos{
    margin-right: 5rem;
    
}

.logo {
    width: 100%;
    opacity: 35%;
    filter: brightness(0%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  2.4rem 4.8rem  8.8rem 8.8rem ;
  
}


@media  (max-width: 900px) {

    main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .whole {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pg1 div {
        display: grid;
        grid-template-columns: 1fr ;
        width: 85%;
        padding-top: 6rem;
        justify-content: center;
        align-items: center;   
    }

    p {
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    .combined {
        width: 300px;
        height: 300px;
    }

    .btn2,
    .btn3 {
     border: none;
     border-radius: 5px;
     padding: 1rem 1rem;
     font-weight: 400;
     font-size: 0.8rem;
    }

    .btn2 {
        margin-bottom: 1rem;
    }

    .logos{
        margin-right: 1rem;
        
    }

    .logos {
       width: 35px;
       height: 10px;
    }

    .logo {
        /* width: 100%; */
        opacity: 35%;
        filter: brightness(0%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding:  auto;
    
        
        
    }
    

    }

.pg2 div,
.pg3 div,
.pg4 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}



h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 4rem;
}

strong {
    font-size: 4rem;
    color: #0300053d;
}

.fade {
    color: #03000583;
}

.app {
    width: 250px;
    height: 450px;
}


.container {
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    background-color:  #d0700914;
    z-index: -2;
    border-radius: 50%;
}

.container::after {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    /* background-color: rgba(0, 128, 0, 0.112); */
    background-color:  #f6e2ce;
    z-index: -1;
    border-radius: 50%;
}


@media  (max-width: 900px) {
    
   
    
    .logos{
        margin-right: 2rem;
        
    }
    
    .logo {
        width: 100%;
        opacity: 35%;
        filter: brightness(0%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding:  2.4rem 4.8rem  8.8rem 8.8rem ;  
    }
    
    .pg2 div,
    .pg3 div,
    .pg4 div {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 2.5rem;
    }

    .app {
        padding-left: 2rem; 
        
    }
    
    
    h3 {
        font-size: 1rem;
    }
    
    h2 {
        font-size: 2rem;
        padding-bottom: 3rem;
    }
    
    strong {
        font-size: 3rem;
        color: #0300053d;
    }
    
    
    .container {
        width: 300px;
        height: 500px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container::before {
        content: '';
        width: 280px;
        height: 280px;
        position: absolute;
        background-color:  #d0700914;
        z-index: -2;
        border-radius: 50%;
    }
    
    .container::after {
        content: '';
        width: 230px;
        height: 230px;
        position: absolute;
        /* background-color: rgba(0, 128, 0, 0.112); */
        background-color:  #f6e2ce;
        z-index: -1;
        border-radius: 50%;
    }
}




.pg5 div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem; 
}


.recipes {
    box-shadow: 11px 11px 11px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    background-color: #ffffff;
}

.recipes p, figure ul, h4 {
    padding-left: 3rem;
}

.diet ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.diet h3 {
    margin-bottom: 1rem;
}


h4 {
    margin-bottom: 1rem;
}

figure {
    border-radius: 1rem;
}

.food {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 350px;
    height: 250px;
    
}

small {
    color: rgb(164, 164, 164);
}

ul {
    list-style: none;
}



.btn4 {
    border: none;
    background-color: rgb(41, 159, 59);
    border-radius: 1rem;
}


.btn5 {
    border: none;
    background-color: rgb(235, 223, 7);
    border-radius: 1rem;
}

.btn6 {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 1.5rem;
}

.btn6 a {
    text-decoration: underline;
    text-decoration-color: rgb(202, 138, 93);
}

.food-icon {
    padding-right: 0.5rem;
    color: #d07009;
}

@media (max-width: 900px) {
    .pg5 div {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    
    .recipes {
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
        border-radius: 2rem;
        background-color: #ffffff;
    }
    
    
    .diet ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .diet h3 {
        margin-bottom: 1rem;
    }
    
    
    h4 {
        margin-bottom: 1rem;
    }
    
    figure {
        border-radius: 1rem;
    }
    
    .food {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 310px;
        height: 200px;
        
    }

    .btn6 {
        border: none;
        background-color: transparent;
        font-weight: 400;
        font-size: 0.8rem;
    }
}

.pg5 .recipes-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}



.pg6 div {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0.6rem;
}

.test {
    width: 60px;
    height: 60px;
    border-radius: 4rem;
}

.left span {
    margin-bottom: 2rem;
}

.left div {
    color: rgb(89, 89, 89);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
}


span .image-collection {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

 .cover {
    position: relative;
    overflow: hidden;
}

.image-collection img {
    width: 100%;
    transition: all 0.6s;
}

.cover :hover {
    transform: scale(1.2);
}

@media (max-width: 900px) {
    
    .pg5 .recipes-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    
    
    
    .pg6 div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.6rem;
        width: 85%;
    }
    
    .test {
        width: 60px;
        height: 60px;
        border-radius: 4rem;
    }
    
    
    .left div {
        color: rgb(89, 89, 89);
        display: grid;
        grid-template-columns: 1fr;
    }
    
    
    span .image-collection {
        width: 300px;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
     .cover {
        position: relative;
        overflow: hidden;
    }
    
    .image-collection img {
        width: 100%;
        transition: all 2s;
    }
    
    .image-collection :hover {
        transform: scale(120%);
    }


}

.pg7 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.pg7 span {
    padding: 1rem 0 2rem 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.pg7 ul {
    display: grid;
    gap: 1rem;
    padding-bottom: 2rem;
}


.pg7 p {
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1rem;
    color: gray;
}

 mark.caramel {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

.pg7 h3 {
    text-align: center;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pg7 small {
    color: #030005;
    font-size: 1.2rem;
}


.btn7 {
    width: 13rem;
    height: 3rem;
    padding: auto 1rem;
    border: none;
    border-radius: 6px;
    margin-top: 2rem;
    background-color: #d07009;
}


.right {
    background-color: #f6e2ce;
    overflow: hidden;
}

.opp {
    border: 1px solid #d0700933;
}

div.tag {
    padding: 0.3rem 2rem;
    background-color: yellow;
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    top: 3.5rem;
    left: 9rem;
    font-size: 0.8rem;
    font-weight: 700;
    
}


.pg8 div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
}

.size-6 {
    width: 4rem;
    height: 4rem;
    color: #d07009;
}


@media (max-width: 900px) {
    .pg7 div {
        display: grid;
        grid-template-columns: 1fr ;
    }
    
    .pg7 span {
        padding: 3rem 1rem;
    }
    
    .pg7 ul {
        display: grid;
        gap: 1rem;
    }
    
    
    .pg7 p {
        margin-top: 3rem;
        text-align: center;
    }
    
    .pg7 mark {
        text-align: center;
    }
    
    .btn7 {
        width: 13rem;
        height: 3rem;
        padding: auto 1rem;
        border: none;
        border-radius: 6px;
        margin-top: 2rem;
        background-color: #d07009;
    }
    
    
    .right {
        background-color: #f6e2ce;
    }

    div.tag {
        padding: 0.3rem 0;
        background-color: yellow;
        /* text-align: center; */
        transform: rotate(45deg);
        position: relative;
        top: -1rem;
        left: 7rem;
        font-size: 0.8rem;
        font-weight: 700;
        
    }


    .pg8 div {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 2rem;
        overflow: hidden;
    }
    
    .size-6 {
        width: 4rem;
        height: 4rem;
        color: #d07009;
    }
}



.pg9 {
    background-image: linear-gradient(#d07009, #d07009);
    margin-bottom: 7rem;
}

.hello {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/istockphoto-1500848523-612x612.jpg);
    background-position: center;

}


.pg9 .nine {
    display: grid;
    grid-template-columns: 70fr 30fr;
    height: 345px;
    
}

.signup {
    padding: 1rem 1rem;
}

select {
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

input {
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

.btn8 {
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1rem;
    background-color: black;
    color: aliceblue;
    margin-top: 2rem;
    
}


.a9 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    gap: 2rem;
}


.pg10 div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.pg10 {
    font-size: 1rem;
    color: rgb(136, 135, 135);
}

.social {
    width: 2rem;
    height: 2rem;
    color: #d07009;
}

@media (max-width: 900px) {
    .pg9 {
        background-image: linear-gradient(#d07009, #d07009);
        margin-bottom: 7rem;
        height: 80vh;
    }


    div.hello {
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/istockphoto-1500848523-612x612.jpg);
        background-position: center;
    }
    
    
    
    .pg9 .nine {
        display: grid;
        grid-template-columns: 1fr;
        background-image: linear-gradient(#d07009, #d07009);
        
    }
    
    .signup {
        padding: 1rem 1rem;
    }
    
    select {
        width: 15rem;
        height: 3rem;
        border: none;
        border-radius: 1rem;
        padding: 1rem 1rem;
        /* margin-top: 1rem; */
    }
    
    input {
        width: 15rem;
        height: 3rem;
        border: none;
        border-radius: 1rem;
        padding: 1rem 1rem;
        /* margin-top: 1rem; */
    }
    
    .btn8 {
        width: 15rem;
        height: 3rem;
        border: none;
        border-radius: 1rem;
        padding: 1rem 1rem;
        background-color: black;
        color: aliceblue;
        /* margin-top: 2rem; */
        
    }
    
    
    .a9 div {
        display: grid;
        grid-template-columns: 1fr;
        background-color: transparent;
        gap: 1rem;
        background-image: linear-gradient(#d07009, #d07009);
        background-position: center;
        ;
    }

    .pg10 div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
    .pg10 {
        font-size: 1rem;
        color: rgb(136, 135, 135);
    }
    
    .social {
        width: 2rem;
        height: 2rem;
        color: #d07009;
    }
}

